In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

In [2]:
all_cc = pd.read_csv('../data/candidates/all_cc.csv')

C:\Users\samtg\AppData\Local\Temp\ipykernel_32920\3482369380.py:1: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  all_cc = pd.read_csv('../data/candidates/all_cc.csv')

In [3]:
all_cc_df = all_cc[['REFNO', 'DATE','NAME','RECIPNAME', 'AMNT','SCHEDULE','C_CODE','PURPOSECD']]

In [4]:
all_cc_df['C_CODE'].value_counts()

C_CODE
IND      161629
PCOMP      1136
CAN         840
FAM         542
OTHR        114
SPO          93
EMPO         91
CORP         84
PCOMC        82
PCOMZ        54
LLC          26
PART          3
Name: count, dtype: int64

In [5]:
org_codes = ['PCOMP','EMPO','PCOMC','CORP',"PCOMZ",'LLC','OTHR']

In [6]:
all_cc_org = all_cc_df[all_cc_df['C_CODE'].isin(org_codes)]

In [7]:
all_cc_org['NAME'].value_counts()

NAME
Council of School Supervisors     53
NYC District Council of Carpen    37
United Federation of Teachers     36
Transport Workers Union Local     32
CWA District One PAC              26
                                  ..
New York City Central Labor  C     1
Doctor's Council SEIU              1
New York City Action Lab Inc.      1
New York Chapter of the 536 La     1
1199                               1
Name: count, Length: 618, dtype: int64

In [8]:
org_key = ['1199 SEIU','32 BJ SEIU', '536 Laguadia Place','57th Ave Liquor and Wine', 'A Print Solution LLC', 'Abdoulaye Barry', 'ACEC New York City',
       'ActBlue', 'AFSCME-Local 1407', 'AIA New York Chapter','Alan Maisel for Council', 'Alessandra Biaggi, Committee t',
       'Allied Printing Trades Counci', 'Allied Printing Trades Council',
       'Alphajor Barrie', 'Althea & Friends TIE', 'Amalgamated Transit Union',
       'American Council of Engineerin', 'Assistant Deputy Wardens/Deput',
       'BRAB PAC','Bricklayers & Allied Craftwork', 'Building &  Construction Trade',
       'Carlina 2021', "Carolyn's PAC", 'Central Labor Council, AFL-CIO',
       'Civil Service Employee Politic', 'Committee on Political Educati',
       'Communications Workers of Amer', 'Correction Officers Benevolent', 'Council of School Supervisors', 'COurage to Change NY',
       'Courage to Change NYC', "Cozen O'Connor PAC", 'CWA District One', 'D&M PAC', 'Dianne Morales for NYC',
       'District Council 37', 'Doctors Council SEIU' ,'Downtown Women for Change',
       "Edgewater Park Owners' Coopera", "Emily's List-NF Fund", 'Empire Dental Political Action',
       'Friends of Ralph Perfetto', 'Greenberg Taurig',
       'IBT Joint Council No 16 PAC', 'Keith For NYC',
       'Local 813 IBT Political Action', 'Local 983',
       'Madison Square Garden NY PAC', 'Mason Tenders District Council',
       'Metavante Corp', 'Neighborhood Preservation PAC',
       'New York City Central Labor Co', 'New York State Laborers', 'New York State Nurses Associat',
       'New Yorkers for Savino', 'New Yorkers Putting Students F',
       'NYC District Council Of Carpen',
       'NYC DSA', 
       'Police Benevolent Association', 'PSC PAC', 'Riley for the Bronx',
       'RPAC of New York State', 'Stonewall Democratic Club of N',
       'StreetsPac', 'Teamsters Local Union No 202',
       'Tile, Marble, & Terrazo Local', 'Transport Workers Union Local',
       'U.A. Steamfitters L.U. 638', 'United Federation of Teachers','ACEC New York City']

In [9]:
def get_closest_match(x, choices):
    name = process.extractOne(x, choices)[0] 
    score = process.extractOne(x, choices)[1]

    if score > 90:
        return name
    else:
        return x

In [10]:
# apply function to the 'NAME' column, set the result to two separate columns
all_cc_org['closest_match'] = all_cc_org['NAME'].apply(lambda x: get_closest_match(x, org_key))

C:\Users\samtg\AppData\Local\Temp\ipykernel_32920\4177003906.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_cc_org['closest_match'] = all_cc_org['NAME'].apply(lambda x: get_closest_match(x, org_key))

In [11]:
faction_compare = pd.read_csv('../data/faction_compare.csv')

In [12]:
all_cc_org[['NAME','closest_match','C_CODE']].sample(20)

                                  NAME                   closest_match C_CODE
32707    Council of School Supervisors   Council of School Supervisors  PCOMP
43198        El Caribe Democratic Club       El Caribe Democratic Club   OTHR
9977                       Banner Mule                     Banner Mule   OTHR
107590  New York City Central Labor Co  New York City Central Labor Co  PCOMP
148277  Tile, Marble & Terrazzo B.A.C.  Tile, Marble & Terrazzo B.A.C.  PCOMP
148281  Tile, Marble & Terrazzo BAC Lo  Tile, Marble & Terrazzo BAC Lo  PCOMP
115399                 People For Diaz                 People For Diaz  PCOMP
123707  Retail Wholesale & Dept. Store  Retail Wholesale & Dept. Store  PCOMP
160569          Working Families Party          Working Families Party  PCOMZ
147258             The Maritime Vapers             The Maritime Vapers   CORP
87535             Lil' Bear Adventures            Lil' Bear Adventures   CORP
40008                  Doctors Council            Doctors Council SEIU  PCOMP
95341   Mason Tenders District Council  Mason Tenders District Council  PCOMP
89223   LOCAL 891 IUOE STATE ENGINEERS  LOCAL 891 IUOE STATE ENGINEERS  PCOMP
68957   Ironworkers Politocal Action L  Ironworkers Politocal Action L  PCOMP
89182   Local 299 AFSCME Political Acc  Local 299 AFSCME Political Acc  PCOMP
107561      New York Building Congress      New York Building Congress  PCOMP
107626         New York State Laborers         New York State Laborers  PCOMP
143779  Stonewall Democratic Club of N  Stonewall Democratic Club of N  PCOMP
78476                   Kilstein, Faye                  Kilstein, Faye  PCOMC

In [13]:
def normalize_name(name):
    if ',' in name:
        last_name, first_name = name.split(', ')
        return f"{first_name} {last_name}"
    else:
        return name

In [14]:
normalize_name('Doe, John')

'John Doe'

In [15]:
all_cc_org['normalized_mem'] = all_cc_org['RECIPNAME'].apply(lambda x: normalize_name(x))

C:\Users\samtg\AppData\Local\Temp\ipykernel_32920\2702516229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_cc_org['normalized_mem'] = all_cc_org['RECIPNAME'].apply(lambda x: normalize_name(x))

In [224]:
def fuzzy_merge(df1, df2, key1, key2, threshold=90):
    matched_names = []
    
    # Iterate over the names in df1
    for name in df1[key1]:
        # ExtractOne returns (best_match, score, index)
        match, score, _ = process.extractOne(name, df2[key2], scorer=fuzz.token_sort_ratio)
        if score >= threshold:
            matched_names.append((name, match, score))
        else:
            matched_names.append((name, None, None))
    
    # Create a dataframe of matches
    return pd.DataFrame(matched_names, columns=[key1, key2, 'score'])

In [225]:
fuzzy_matched_df = fuzzy_merge(faction_compare, all_cc_org, 'VotePersonName', 'normalized_mem', threshold=70)

In [231]:
all_cc_org[all_cc_org['normalized_mem'] == 'Vickie Paladino']

Empty DataFrame
Columns: [REFNO, DATE, NAME, RECIPNAME, AMNT, SCHEDULE, C_CODE, PURPOSECD, closest_match, normalized_mem]
Index: []

In [227]:
fuzzy_matched_df

               VotePersonName         normalized_mem  score
0           Adrienne E. Adams         Adrienne Adams   93.0
1                Alexa Avilés           Alexa Aviles   96.0
2          Althea V.  Stevens       Althea V Stevens  100.0
3               Amanda Farías          Amanda Farias   96.0
4                   Ari Kagan              Ari Kagan  100.0
5             Carlina Rivera          Carlina Rivera  100.0
6        Carmen N. De La Rosa      Carmen De La Rosa   94.0
7              Charles Barron         Charles Barron  100.0
8                 Chi A. Ossé               Chi Osse   82.0
9           Christopher Marte                   None    NaN
10             Crystal Hudson         Crystal Hudson  100.0
11              Darlene Mealy          Darlene Mealy  100.0
12              David M. Carr           David M Carr  100.0
13             Diana I. Ayala          Diana I Ayala  100.0
14              Eric Dinowitz          Eric Dinowitz  100.0
15           Erik D. Bottcher          Erik Bottcher   93.0
16             Farah N. Louis            Farah Louis   92.0
17          Francisco P. Moya       Francisco P Moya  100.0
18             Gale A. Brewer            Gale Brewer   92.0
19              Inna Vernikov          Inna Vernikov  100.0
20           James F. Gennaro        James F Gennaro  100.0
21         Jennifer Gutiérrez     Jennifer Gutierrez   97.0
22              Joann Ariola            Joann Ariola  100.0
23          Joseph C. Borelli         Joseph Borelli   93.0
24                Julie Menin            Julie Menin  100.0
25                  Julie Won              Julie Won  100.0
26          Justin L. Brannan         Justin Brannan   93.0
27              Kalman Yeger            Kalman Yeger  100.0
28             Kamillah Hanks       Kamillah M Hanks   93.0
29              Keith Powers            Keith Powers  100.0
30             Kevin C. Riley          Kevin C Riley  100.0
31  Kristin Richardson Jordan       Kristin R Jordan   78.0
32            Lincoln Restler        Lincoln Restler  100.0
33                  Linda Lee              Linda Lee  100.0
34           Lynn C. Schulman          Lynn Schulman   93.0
35         Marjorie Velázquez     Marjorie Velazquez   97.0
36          Mercedes Narcisse      Mercedes Narcisse  100.0
37       Nantasha M. Williams      Nantasha Williams   94.0
38               Oswald Feliz           Oswald Feliz  100.0
39        Pierina Ana Sanchez      Pierina A Sanchez   94.0
40      Rafael Salamanca, Jr.       Rafael Salamanca   91.0
41             Rita C. Joseph          Rita C Joseph  100.0
42           Robert F. Holden        Robert F Holden  100.0
43                 Sandra Ung             Sandra Ung  100.0
44                Sandy Nurse            Sandy Nurse  100.0
45   Selvena N. Brooks-Powers  Selvena Brooks-Powers   95.0
46           Shahana K. Hanif          Shahana Hanif   93.0
47                Shaun Abreu            Shaun Abreu  100.0
48            Shekar Krishnan        Shekar Krishnan  100.0
49              Tiffany Cabán          Tiffany Caban   96.0
50            Vickie Paladino                   None    NaN

In [18]:
winners_df = all_cc_org[all_cc_org['normalized_mem'].isin(fuzzy_matched_df['normalized_mem'])]

In [19]:
winners_df.sample(10)

,REFNO,DATE,NAME,RECIPNAME,AMNT,SCHEDULE,C_CODE,PURPOSECD,closest_match,normalized_mem
95341,R0004812,4/3/2021,Mason Tenders District Council,"Holden, Robert F",1000.0,ABC,PCOMP,NaN,Mason Tenders District Council,Robert F Holden
118215,R0003670,7/10/2019,Police Benevolent Association,"Powers, Keith",1000.0,ABC,PCOMP,NaN,Police Benevolent Association,Keith Powers
34350,R0004764,8/30/2021,CWA District One PAC,"Joseph, Rita C",750.0,ABC,PCOMP,NaN,CWA District One,Rita C Joseph
107614,R0002872,6/14/2019,New York Hotel Trades Council,"Moya, Francisco P",1425.0,ABC,PCOMP,NaN,New York Hotel Trades Council,Francisco P Moya
148281,R0001458,6/22/2021,"Tile, Marble & Terrazzo BAC Lo","Dinowitz, Eric",250.0,ABC,PCOMP,NaN,"Tile, Marble & Terrazzo BAC Lo",Eric Dinowitz
151442,R0004960,3/28/2019,Uniformed Firefighters Associa,"Brannan, Justin",500.0,ABC,PCOMP,NaN,Uniformed Firefighters Associa,Justin Brannan
151434,R0004742,3/13/2021,Uniformed Fire Officers Associ,"Holden, Robert F",500.0,ABC,PCOMP,NaN,Uniformed Fire Officers Associ,Robert F Holden
149707,R0002761,5/17/2021,Transport Workers Union Local,"Gutierrez, Jennifer",1000.0,ABC,PCOMP,NaN,Transport Workers Union Local,Jennifer Gutierrez
107631,R0004943,6/9/2021,New York State Laborers,"Adams, Adrienne",1000.0,ABC,PCOMP,NaN,New York State Laborers,Adrienne Adams
151165,R0003352,6/10/2021,UFT COPE,"Stevens, Althea V",1000.0,ABC,PCOMP,NaN,UFT COPE,Althea V Stevens

In [31]:
by_donor_org = winners_df.groupby(['normalized_mem','closest_match'])['AMNT'].sum().reset_index()

In [32]:
by_donor_org

     normalized_mem                   closest_match    AMNT
0    Adrienne Adams  1199 SEIU NYS Political Action  1000.0
1    Adrienne Adams                            32BJ  1000.0
2    Adrienne Adams              536 Laguadia Place   500.0
3    Adrienne Adams              ACEC New York City  1000.0
4    Adrienne Adams  Bricklayers & Allied Craftwork   250.0
..              ...                             ...     ...
768   Tiffany Caban                         PSC PAC  1000.0
769   Tiffany Caban                  Resilience PAC   250.0
770   Tiffany Caban  Stonewall Democratic Club of N   250.0
771   Tiffany Caban  TWU Local 100 Political Contri  1000.0
772   Tiffany Caban   United Federation of Teachers  1000.0

[773 rows x 3 columns]

In [21]:
winner_faction = pd.merge(winners_df, fuzzy_matched_df, on='normalized_mem')

In [22]:
winner_faction = pd.merge(winner_faction, faction_compare, left_on='VotePersonName', right_on='VotePersonName')

In [23]:
faction_group = winner_faction.groupby(['rf_pca_predictions','closest_match'])['AMNT'].sum().reset_index()

In [149]:
def map_names(name):
    name = name.lower()
    if 'seiu' in name:
        return 'seiu'
    elif '1199' in name:
        return 'seiu'
    elif '32bj' in name:
        return '32BJ'
    elif 'teamsters' in name:
        return 'teamsters'
    elif 'iron' in name:
        return 'ironworkers'
    elif 'local 6' in name:
        return 'local 6'
    elif 'iuoe' in name:
        return 'iuoe'
    elif 'metallic lathers' in name:
        return 'metallic lathers'
    elif 'hotel' in name:
        return 'hotel'
    elif 'nys laborers' in name:
        return 'nys laborers'
    elif 'working families' in name:
        return 'wfp'
    elif 'wfp' in name:
        return 'wfp'
    elif 'salamanca' in name:
        return 'salamanca'
    elif 'marble' in name:
        return 'Tile Marble & Terrazo'
    elif 'transport' in name:
        return 'TWU'
    elif 'twu' in name:
        return 'TWU'
    elif 'ufoa' in name:
        return 'ufoa'
    elif 'sanitationmen' in name:
        return 'sanitation'
    elif 'firemen' in name:
        return 'firemen'
    elif 'firefighters' in name:
        return 'firemen'
    elif 'dsa' in name:
        return 'dsa'
    elif 'carpenter' in name:
        return 'carpenters'
    elif 'carpen' in name:
        return 'carpenters'
    elif 'plumber' in name:
        return 'plumbers'
    elif 'police' in name:
        return 'pba'
    elif 'lieutenants' in name:
        return 'lba'
    elif 'dental' in name:
        return 'empire dental'
    elif 'retail wholesale' in name:
        return 'retail wholesale'
    elif 'afl' in name:
        return 'afl-cio'
    elif 'central labor' in name:
        return 'afl-cio'
    elif 'central-labor' in name:
        return 'afl-cio'
    elif 'steamfitters' in name:
        return 'steamfitters'
    elif 'dc 37' in name:
        return 'dc 37'
    elif 'district council 37' in name:
        return 'dc 37'
    elif 'new york working' in name:
        return 'wfp'
    elif 'stonewall' in name:
        return 'stonewall'
    else:
        return name

In [26]:
faction_group['sorted_name'] = faction_group['closest_match'].apply(map_names)

In [33]:
by_donor_org['sorted_name'] = by_donor_org['closest_match'].apply(map_names)

In [34]:
by_donor_org.sample(10)

,normalized_mem,closest_match,AMNT,sorted_name
412,Justin Brannan,NYC District Council Of Carpen,1000.0,nyc district council of carpen
208,Diana I Ayala,New York City Central Labor Co,250.0,afl-cio
564,Mercedes Narcisse,32BJ United American Dream Fun,750.0,32BJ
701,Sandy Nurse,Sandy Nurse for NY State Assem,860.0,sandy nurse for ny state assem
151,Charles Barron,1199 SEIU,1000.0,seiu
120,Carlina Rivera,Local 6 Committee on Political,0.0,local 6
599,Pierina A Sanchez,"Central Labor Council, AFL-CIO",250.0,afl-cio
380,Julie Menin,NYC District Council Of Carpen,1000.0,nyc district council of carpen
248,Farah Louis,Mettalic Lathers & Reinforcing,500.0,mettalic lathers & reinforcing
615,Rafael Salamanca,Cozen O'Connor PAC,1000.0,cozen o'connor pac

In [130]:
faction_group = faction_group[['sorted_name','rf_pca_predictions','AMNT']]

In [131]:
faction_group.sample(10)

                        sorted_name   rf_pca_predictions     AMNT
136                       salamanca    Affluent Liberals     0.00
323                            iuoe  Hybrid Progressives   250.00
150                         td bank    Affluent Liberals     0.01
139           ritchie torres for ny    Affluent Liberals  3500.00
279                             TWU                  DSA  1000.00
217                      streetspac        Alphabet Left  1000.00
79        jjm owles democratic club    Affluent Liberals   250.00
351  new york uaw region 9a pac cou  Hybrid Progressives   500.00
145  soft drink brewery  workers pa    Affluent Liberals   750.00
113                           nysna    Affluent Liberals   750.00

In [132]:
# Find the largest contributor for each faction
biggest_contributors = faction_group.loc[faction_group.groupby('rf_pca_predictions')['AMNT'].idxmax()]

In [133]:
biggest_contributors

                       sorted_name        rf_pca_predictions     AMNT
46                            seiu         Affluent Liberals  16850.0
194  council of school supervisors             Alphabet Left   6250.0
224                           seiu  County Aligned Moderates   1000.0
263  council of school supervisors                       DSA   2000.0
313                           seiu       Hybrid Progressives   8600.0
402          friends of dov hikind   Old and New Republicans   4850.0

In [135]:
single_group_contributors = faction_group.groupby('sorted_name').filter(lambda x: x['rf_pca_predictions'].nunique() == 1)

In [137]:
single_group_contributors

                        sorted_name       rf_pca_predictions    AMNT
8    1199 seui - nys political acti        Affluent Liberals  1000.0
10                 32 bj united adf        Affluent Liberals   500.0
11   32 bj united american dream fu        Affluent Liberals     0.0
20   alessandra biaggi, committee t        Affluent Liberals     0.0
23   american council of engineerin        Affluent Liberals   500.0
..                              ...                      ...     ...
434            saul stein for judge  Old and New Republicans   500.0
435  sheet metal workers union loca  Old and New Republicans  1000.0
436                       simcha ny  Old and New Republicans  1800.0
443               turon trade house  Old and New Republicans     0.0
446     uniformed sanitation chiefs  Old and New Republicans   250.0

[156 rows x 3 columns]

In [138]:
faction_group['max_vs_total'] = faction_group.groupby('sorted_name')['AMNT'].transform(lambda x: x.max() / x.sum())
large_contribution_bias = faction_group[faction_group['max_vs_total'] > 0.7]

C:\Users\samtg\AppData\Local\Temp\ipykernel_8972\1381442549.py:1: RuntimeWarning: invalid value encountered in scalar divide
  faction_group['max_vs_total'] = faction_group.groupby('sorted_name')['AMNT'].transform(lambda x: x.max() / x.sum())

In [139]:
large_contribution_bias

,sorted_name,rf_pca_predictions,AMNT,max_vs_total
8,1199 seui - nys political acti,Affluent Liberals,1000.0,1.000000
10,32 bj united adf,Affluent Liberals,500.0,1.000000
19,aia new york political action,Affluent Liberals,750.0,0.750000
21,allied printing trades council,Affluent Liberals,0.0,1.000000
23,american council of engineerin,Affluent Liberals,500.0,1.000000
...,...,...,...,...
435,sheet metal workers union loca,Old and New Republicans,1000.0,1.000000
436,simcha ny,Old and New Republicans,1800.0,1.000000
438,taxpayers for an affordable ny,Old and New Republicans,3350.0,0.770115
439,team simcha,Old and New Republicans,1430.0,0.851190
446,uniformed sanitation chiefs,Old and New Republicans,250.0,1.000000

look at individual members by grouped contribution

In [63]:
mem_group = winner_faction.groupby(['normalized_mem','closest_match'])['AMNT'].sum().reset_index()

In [150]:
mem_group['sorted_name'] = mem_group['closest_match'].apply(map_names)

In [151]:
mem_group = mem_group[['normalized_mem','sorted_name','closest_match','AMNT']]

In [38]:
biggest_contributors = mem_group.loc[mem_group.groupby('VotePersonName')['AMNT'].idxmax()]
biggest_contributors

               VotePersonName                     sorted_name     AMNT
0           Adrienne E. Adams                            seiu  1000.00
32               Alexa Avilés                            seiu  1000.00
49         Althea V.  Stevens                            seiu  1000.00
70              Amanda Farías                            seiu  1000.00
89                  Ari Kagan                            seiu  1000.00
108           Carlina Rivera                             32BJ  2850.00
132      Carmen N. De La Rosa                            seiu  1000.00
151            Charles Barron                            seiu  1000.00
159               Chi A. Ossé                            seiu  1000.00
172            Crystal Hudson                            seiu  1000.00
190             Darlene Mealy         nyc dc of carpententers  1000.00
195             David M. Carr          rpac of new york state  1000.00
197            Diana I. Ayala                            seiu  1000.00
217             Eric Dinowitz                            seiu  1000.00
235          Erik D. Bottcher                            seiu  1000.00
246            Farah N. Louis  american council of engineerin   500.00
275         Francisco P. Moya                       moya 2017  3916.33
290            Gale A. Brewer                            seiu  1000.00
308             Inna Vernikov           friends of dov hikind  1000.00
309          James F. Gennaro                            seiu  1000.00
342        Jennifer Gutiérrez                            seiu  1000.00
358             Joann Ariola   correction officers benevolent  1000.00
365         Joseph C. Borelli  correction officers benevolent  1000.00
375               Julie Menin                            seiu  1000.00
386                 Julie Won                            seiu  1000.00
392         Justin L. Brannan                            seiu  1000.00
428             Kalman Yeger          alan maisel for council  2850.00
443            Kamillah Hanks                            seiu  1000.00
465             Keith Powers                             seiu  2850.00
484            Kevin C. Riley                            seiu  1000.00
505           Lincoln Restler  bricklayers & allied craftwork   250.00
515                 Linda Lee                            seiu  1000.00
526          Lynn C. Schulman                            seiu  1000.00
547        Marjorie Velázquez                            seiu  1000.00
563         Mercedes Narcisse                            seiu  1000.00
575      Nantasha M. Williams                            seiu  1000.00
587              Oswald Feliz                            seiu  1000.00
596       Pierina Ana Sanchez                            seiu  1000.00
612     Rafael Salamanca, Jr.                            32BJ  2850.00
644            Rita C. Joseph                            seiu  1000.00
657          Robert F. Holden  correction officers benevolent  1000.00
679                Sandra Ung                    carlina 2021  1000.00
694               Sandy Nurse                local 813 i.b.t.  1000.00
704  Selvena N. Brooks-Powers   council of school supervisors  1000.00
722          Shahana K. Hanif                            seiu  1000.00
730               Shaun Abreu                            seiu  1000.00
746           Shekar Krishnan                            seiu  1000.00
758             Tiffany Cabán                            seiu  1000.00

In [148]:
single_group_contributors = mem_group.groupby('sorted_name').filter(lambda x: x['VotePersonName'].nunique() == 1)

In [149]:
single_group_contributors

               VotePersonName                     sorted_name     AMNT
2           Adrienne E. Adams              536 laguadia place   500.00
5           Adrienne E. Adams               c.w.a. local 1180  1000.00
6           Adrienne E. Adams  city employees union local 237   500.00
10          Adrienne E. Adams                 d&m p.a.c., llc   600.00
15          Adrienne E. Adams            helen rosenthal 2021   250.00
..                        ...                             ...      ...
698  Selvena N. Brooks-Powers  local 2507-uniformed emts, par     0.00
705  Selvena N. Brooks-Powers  subway surface supervisors ass   250.00
724               Shaun Abreu          friends of jimmy vacca  1000.00
726               Shaun Abreu                   ny for levine   383.13
758             Tiffany Cabán  twu local 100 political contri  1000.00

[136 rows x 3 columns]

In [151]:
mem_group['max_vs_total'] = mem_group.groupby('sorted_name')['AMNT'].transform(lambda x: x.max() / x.sum())
large_contribution_bias = mem_group[mem_group['max_vs_total'] > 0.7]

C:\Users\samtg\AppData\Local\Temp\ipykernel_8972\2801747112.py:1: RuntimeWarning: invalid value encountered in scalar divide
  mem_group['max_vs_total'] = mem_group.groupby('sorted_name')['AMNT'].transform(lambda x: x.max() / x.sum())

In [153]:
large_contribution_bias[large_contribution_bias['max_vs_total'] < 1]

               VotePersonName              sorted_name     AMNT  max_vs_total
66         Althea V.  Stevens                  td bank   110.00      0.999909
112           Carlina Rivera             carolyn's pac   250.00      0.857143
428             Kalman Yeger               team simcha  1430.00      0.851190
449             Keith Powers             carolyn's pac  1500.00      0.857143
500           Lincoln Restler              team simcha   250.00      0.851190
518          Lynn C. Schulman  friends of daniel dromm  1000.00      0.869565
541        Marjorie Velázquez  friends of daniel dromm   150.00      0.869565
706  Selvena N. Brooks-Powers                  td bank     0.01      0.999909

Look at key donors to candidates of interest

In [215]:
mem_group[mem_group['normalized_mem'] == 'Inna Vernikov'].sort_values('AMNT', ascending=False)

    normalized_mem            sorted_name          closest_match    AMNT
308  Inna Vernikov  friends of dov hikind  Friends of Dov Hikind  1000.0

In [136]:
def add_left_party(df,org_list,type):
    lp_amnt_df = df[df['sorted_name'].isin(org_list)].groupby('normalized_mem', as_index=False)['AMNT'].sum()
    lp_amnt_df.rename(columns={'AMNT': type}, inplace=True)
    return lp_amnt_df

In [117]:
left_list = ['wfp','dsa']

In [153]:
by_donor_group = mem_group.groupby(['normalized_mem','sorted_name'])['AMNT'].sum().reset_index()

In [139]:
dsa_wfp = add_left_party(by_donor_group,left_list,'dsa_wfp')

In [138]:
stonewall = add_left_party(by_donor_group,['stonewall'],'stonewall')

In [213]:
dc_37 = add_left_party(by_donor_group,['dc 37'],'dc_37')

In [212]:
twu = add_left_party(by_donor_group,['TWU'],'twu')

In [211]:
pba = add_left_party(by_donor_group,['pba','lba'],'cops')

In [210]:
sanitation = add_left_party(by_donor_group,['sanitation'],'sanitation')

In [209]:
firemen = add_left_party(by_donor_group,['firemen'],'firemen')

In [208]:
carpenters = add_left_party(by_donor_group,['carpenters'],'carpenters')

In [207]:
afl_cio = add_left_party(by_donor_group,['afl-cio'],'afl_cio')

In [206]:
psc = add_left_party(by_donor_group,['psc pac'],'psc')

In [205]:
teachers = add_left_party(by_donor_group,['united federation of teachers'],'teachers')

In [204]:
tile = add_left_party(by_donor_group,['Tile Marble & Terrazo'],'tile')

In [203]:
acec = add_left_party(by_donor_group,['acec new york city'],'acec')

In [202]:
cwa = add_left_party(by_donor_group,['cwa district one'],'cwa')

In [201]:
hotel = add_left_party(by_donor_group,['hotel'],'hotel')

In [200]:
nysl = add_left_party(by_donor_group,['new york state laborers'],'nysl')

In [196]:
seiu = add_left_party(by_donor_group,['seiu'],'seiu')

In [216]:
ironworkers = add_left_party(by_donor_group,['ironworkers'],'ironworkers')
ironworkers

       normalized_mem  ironworkers
0      Adrienne Adams        500.0
1    Althea V Stevens        500.0
2       Amanda Farias        500.0
3      Carlina Rivera        500.0
4   Carmen De La Rosa        500.0
5      Crystal Hudson        500.0
6       Diana I Ayala        500.0
7       Erik Bottcher        500.0
8         Farah Louis        500.0
9    Francisco P Moya       1000.0
10        Gale Brewer        500.0
11     Justin Brannan       1000.0
12       Keith Powers        500.0
13          Linda Lee        500.0
14      Lynn Schulman        500.0
15  Pierina A Sanchez        500.0
16   Rafael Salamanca        500.0
17    Robert F Holden        500.0
18         Sandra Ung        500.0
19        Shaun Abreu        500.0
20    Shekar Krishnan        500.0

In [217]:
# Merge all the dataframes
left_contributors = pd.merge(dsa_wfp, stonewall, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, dc_37, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, twu, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, pba, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, sanitation, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, firemen, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, carpenters, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, psc, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, teachers, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, tile, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, acec, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, cwa, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, hotel, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, nysl, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, seiu, on='normalized_mem', how='outer')
left_contributors = pd.merge(left_contributors, ironworkers, on='normalized_mem', how='outer')
group_export = pd.merge(left_contributors, afl_cio, on='normalized_mem', how='outer')

In [218]:
group_export.fillna(0, inplace=True)

In [233]:
group_export.to_csv('../data/group_export.csv', index=False)

In [214]:
#find who is in by_donor_group but not in group_export
by_donor_group[~by_donor_group['normalized_mem'].isin(group_export['normalized_mem'])]

    normalized_mem                     sorted_name    AMNT
236    Farah Louis  american council of engineerin   500.0
237    Farah Louis                     ironworkers   500.0
238    Farah Louis  mettalic lathers & reinforcing   500.0
296  Inna Vernikov           friends of dov hikind  1000.0