In [1]:
import pandas as pd

In [12]:
import numpy as np

In [16]:
def determine_race(row):
    columns_to_check = ['white', 'black', 'api', 'native', 'multiple', 'hispanic']
    
    values = row[columns_to_check].apply(pd.to_numeric, errors='coerce').fillna(0)
    
    high_values = values[values > 0.80]
    
    if not high_values.empty:
        return high_values.idxmax()
    else:
        return np.nan

In [4]:
cand_geo = pd.read_csv('../data/cleaned/candidates_surgeo.csv')

C:\Users\samtg\AppData\Local\Temp\ipykernel_43296\1138471954.py:1: DtypeWarning: Columns (12,21,33,37,38,40,41,42,43,44,45,46,51,54) have mixed types. Specify dtype option on import or set low_memory=False.
  cand_geo = pd.read_csv('../data/cleaned/candidates_surgeo.csv')

In [7]:
cand_geo = cand_geo[['RECIPNAME','DATE','first_name','last_name','CITY','STATE','ZIP','OCCUPATION','EMPNAME','AMNT', 'white',
       'black', 'api', 'native', 'multiple', 'hispanic','REFNO']]
cand_geo.columns = cand_geo.columns.str.lower()

In [15]:
cand_geo['race'] = cand_geo.apply(determine_race, axis=1)

In [17]:
cand_geo

,recipname,date,first_name,last_name,city,state,zip,occupation,empname,amnt,white,black,api,native,multiple,hispanic,refno,race
0,"Abreu, Adolfo",10/1/2020,Lara,Abiona,Cherry Hill,NJ,08003,Student,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0001855,NaN
1,"Abreu, Adolfo",1/11/2021,Benjamin,Abrams,Brooklyn,NY,11226,Unemployed,NaN,10.0,0.106055,0.843409,0.001083,0.00172,0.02252,0.025213,R0003932,black
2,"Abreu, Adolfo",8/12/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,850.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000076,hispanic
3,"Abreu, Adolfo",8/10/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,100.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000086,hispanic
4,"Abreu, Adolfo",8/13/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,50.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000119,hispanic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16630,"Lin, Yu",2/15/2021,YI BO,ZHU,Brooklyn,NY,11220,RETIRED,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,R0001329,NaN
16631,"Lin, Yu",1/16/2021,Yunying,Zhu,Brooklyn,NY,11220,Unemployed,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000825,NaN
16632,"Lin, Yu",1/9/2021,Xi,Ziang,Brooklyn,NY,11220,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000327,NaN
16633,"Lin, Yu",1/11/2021,Chang Li,Zou,Brooklyn,NY,11219,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000398,NaN
16634,"Lin, Yu",1/11/2021,Xue Qun,zou,Brooklyn,NY,11219,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000400,NaN