In [1]:
import pandas as pd
import numpy as np

In [2]:
def determine_race(row):
    columns_to_check = ['white', 'black', 'api', 'native', 'multiple', 'hispanic']
    
    values = row[columns_to_check].apply(pd.to_numeric, errors='coerce').fillna(0)
    
    high_values = values[values > 0.80]
    
    if not high_values.empty:
        return high_values.idxmax()
    else:
        return np.nan

In [12]:
cand_geo = pd.read_csv('../data/cleaned/candidates_surgeo.csv')

C:\Users\samtg\AppData\Local\Temp\ipykernel_25948\1138471954.py:1: DtypeWarning: Columns (12,21,33,37,38,40,41,42,43,44,45,46,51,54) have mixed types. Specify dtype option on import or set low_memory=False.
  cand_geo = pd.read_csv('../data/cleaned/candidates_surgeo.csv')

In [13]:
cand_geo = cand_geo[['RECIPNAME','DATE','first_name','last_name','CITY','STATE','ZIP','OCCUPATION','EMPNAME','AMNT', 'white',
       'black', 'api', 'native', 'multiple', 'hispanic','REFNO']]
cand_geo.columns = cand_geo.columns.str.lower()

In [5]:
cand_geo['race'] = cand_geo.apply(determine_race, axis=1)

In [6]:
cand_geo.head(5)

,recipname,date,first_name,last_name,city,state,zip,occupation,empname,amnt,white,black,api,native,multiple,hispanic,refno,race
0,"Abreu, Adolfo",10/1/2020,Lara,Abiona,Cherry Hill,NJ,08003,Student,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0001855,NaN
1,"Abreu, Adolfo",1/11/2021,Benjamin,Abrams,Brooklyn,NY,11226,Unemployed,NaN,10.0,0.106055,0.843409,0.001083,0.00172,0.02252,0.025213,R0003932,black
2,"Abreu, Adolfo",8/12/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,850.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000076,hispanic
3,"Abreu, Adolfo",8/10/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,100.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000086,hispanic
4,"Abreu, Adolfo",8/13/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,50.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000119,hispanic

In [8]:
cand_geo['race'] = cand_geo['race'].fillna('unknown')
mean_amnt_by_race = cand_geo.groupby(['recipname', 'race'])['amnt'].mean().reset_index()
print(mean_amnt_by_race)

             recipname      race        amnt
0        Abreu, Adolfo       api   37.972609
1        Abreu, Adolfo     black   75.563400
2        Abreu, Adolfo  hispanic   61.045110
3        Abreu, Adolfo   unknown   54.374673
4        Abreu, Adolfo     white   32.091848
..                 ...       ...         ...
62  Saperstein, Steven     white  158.871783
63      Vernikov, Inna       api   58.750000
64      Vernikov, Inna  hispanic  103.333333
65      Vernikov, Inna   unknown   96.726343
66      Vernikov, Inna     white  136.626582

[67 rows x 3 columns]

In [11]:
mean_amnt_by_race.sort_values('amnt', ascending=False)

                   recipname      race        amnt
39                   Lin, Yu  hispanic  300.000000
62        Saperstein, Steven     white  158.871783
66            Vernikov, Inna     white  136.626582
47           Rivera, Carlina       api  136.600000
38                   Lin, Yu       api  127.275235
..                       ...       ...         ...
48           Rivera, Carlina     black   25.000000
20  Hollingsworth, Michael D       api   24.766757
22  Hollingsworth, Michael D  hispanic   24.453333
60        Saperstein, Steven  hispanic   17.000000
59        Saperstein, Steven     black   15.000000

[67 rows x 3 columns]

In [9]:
df = cand_geo.copy()

In [10]:
mean_amnt_by_race = df.groupby(['recipname', 'race'], as_index=False)['amnt'].mean()
sorted_mean_amnt = mean_amnt_by_race.sort_values(by=['recipname', 'amnt'], ascending=[True, False])
top_race_by_amnt = sorted_mean_amnt.drop_duplicates(subset=['recipname'], keep='first')
print(top_race_by_amnt)

                   recipname      race        amnt
1              Abreu, Adolfo     black   75.563400
6              Aviles, Alexa     black  106.970000
11            Caban, Tiffany     black   54.661034
19        Hantzopoulos, Evie     white   61.799881
21  Hollingsworth, Michael D     black   53.712258
25           Hudson, Crystal       api  109.116279
30           Hussein, Erin Z  hispanic  100.000000
33            Joseph, Rita C       api  125.000000
39                   Lin, Yu  hispanic  300.000000
44             Pierre, Josue  hispanic  113.800000
47           Rivera, Carlina       api  136.600000
55        Sanchez, Pierina A  multiple  100.000000
62        Saperstein, Steven     white  158.871783
66            Vernikov, Inna     white  136.626582

orgs

In [2]:
orgs = pd.read_csv('../data/cleaned/orgs_cleaned.csv')

In [14]:
orgs.columns

Index(['ELECTION', 'OFFICECD', 'RECIPID', 'CANCLASS', 'RECIPNAME', 'COMMITTEE',
       'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO', 'REFNO', 'DATE',
       'REFUNDDATE', 'NAME', 'C_CODE', 'STRNO', 'STRNAME', 'APARTMENT',
       'BOROUGHCD', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME',
       'EMPSTRNO', 'EMPSTRNAME', 'EMPCITY', 'EMPSTATE', 'AMNT', 'MATCHAMNT',
       'PREVAMNT', 'PAY_METHOD', 'INTERMNO', 'INTERMNAME', 'INTSTRNO',
       'INTSTRNM', 'INTAPTNO', 'INTCITY', 'INTST', 'INTZIP', 'INTEMPNAME',
       'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA',
       'PURPOSECD', 'EXEMPTCD', 'ADJTYPECD', 'RR_IND', 'SEG_IND',
       'INT_C_CODE'],
      dtype='object')

In [15]:
orgs_df = orgs[[ 'RECIPNAME','REFNO', 'DATE','NAME','RECIPNAME', 'AMNT']]

In [17]:
# delete duplicate REFNO 
orgs_df = orgs_df.drop_duplicates(subset=['REFNO'], keep='first')

In [2]:
from fuzzywuzzy import process, fuzz

In [21]:
orgs_df['NAME_standard'] = orgs_df['NAME'].str.lower()
unique_names = orgs_df['NAME_standard'].unique()

C:\Users\samtg\AppData\Local\Temp\ipykernel_33408\1185339953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orgs_df['NAME_standard'] = orgs_df['NAME'].str.lower()

In [22]:
name_mapping = {}
for name in unique_names:
    matches = process.extractBests(name, unique_names, scorer=fuzz.token_sort_ratio, score_cutoff=80)
    best_match = max(matches, key=lambda x: x[1])[0] if matches else name
    name_mapping[name] = best_match

In [23]:
orgs_df['grouped_org'] = orgs_df['NAME_standard'].apply(lambda x: name_mapping.get(x, x)).str.upper()

C:\Users\samtg\AppData\Local\Temp\ipykernel_33408\761303952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orgs_df['grouped_org'] = orgs_df['NAME_standard'].apply(lambda x: name_mapping.get(x, x)).str.upper()

Let's try and organize the whole df

In [27]:
all = pd.read_csv('../data/orgs/all.csv')

C:\Users\samtg\AppData\Local\Temp\ipykernel_33408\869547863.py:1: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  all = pd.read_csv('../data/orgs/all.csv')

In [137]:
all_df = all[[ 'RECIPNAME',  'DATE', 'BOROUGHCD', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'NAME', 'AMNT','SCHEDULE','REFNO','C_CODE','PURPOSECD']]
all_df = all_df.drop_duplicates(subset=['REFNO','NAME','DATE'], keep='first')

In [130]:
all_dup = all[[ 'RECIPNAME',  'DATE', 'BOROUGHCD', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'NAME', 'AMNT','SCHEDULE','REFNO','C_CODE','PURPOSECD']]

In [139]:
all_df = all_df.drop_duplicates(subset=['REFNO','NAME','DATE'], keep='first')

In [41]:
org_codes = ['PCOMP','EMPO','PCOMC','CORP',"PCOMZ",'LLC','OTHR']

In [141]:
org_all = all_df[all_df['C_CODE'].isin(org_codes)]

In [99]:
org_all_dup = all_dup[all_dup['C_CODE'].isin(org_codes)]

In [3]:
org_key = ['1199 SEIU','32 BJ SEIU', '536 Laguadia Place','57th Ave Liquor and Wine', 'A Print Solution LLC', 'Abdoulaye Barry', 'ACEC New York City',
       'ActBlue', 'AFSCME-Local 1407', 'AIA New York Chapter','Alan Maisel for Council', 'Alessandra Biaggi, Committee t',
       'Allied Printing Trades Counci', 'Allied Printing Trades Council',
       'Alphajor Barrie', 'Althea & Friends TIE', 'Amalgamated Transit Union',
       'American Council of Engineerin', 'Assistant Deputy Wardens/Deput',
       'BRAB PAC','Bricklayers & Allied Craftwork', 'Building &  Construction Trade',
       'Carlina 2021', "Carolyn's PAC", 'Central Labor Council, AFL-CIO',
       'Civil Service Employee Politic', 'Committee on Political Educati',
       'Communications Workers of Amer', 'Correction Officers Benevolent', 'Council of School Supervisors', 'COurage to Change NY',
       'Courage to Change NYC', "Cozen O'Connor PAC", 'CWA District One', 'D&M PAC', 'Dianne Morales for NYC',
       'District Council 37', 'Doctors Council SEIU' ,'Downtown Women for Change',
       "Edgewater Park Owners' Coopera", "Emily's List-NF Fund", 'Empire Dental Political Action',
       'Friends of Ralph Perfetto', 'Greenberg Taurig',
       'IBT Joint Council No 16 PAC', 'Keith For NYC',
       'Local 813 IBT Political Action', 'Local 983',
       'Madison Square Garden NY PAC', 'Mason Tenders District Council',
       'Metavante Corp', 'Neighborhood Preservation PAC',
       'New York City Central Labor Co', 'New York State Laborers', 'New York State Nurses Associat',
       'New Yorkers for Savino', 'New Yorkers Putting Students F',
       'NYC District Council Of Carpen',
       'NYC DSA', 
       'Police Benevolent Association', 'PSC PAC', 'Riley for the Bronx',
       'RPAC of New York State', 'Stonewall Democratic Club of N',
       'StreetsPac', 'Teamsters Local Union No 202',
       'Tile, Marble, & Terrazo Local', 'Transport Workers Union Local',
       'U.A. Steamfitters L.U. 638', 'United Federation of Teachers']

In [8]:
def get_closest_match(x, choices):
    return process.extractOne(x, choices)[0]

In [142]:
org_all['cleaned_name'] = org_all['NAME'].apply(lambda x: get_closest_match(x, org_key))

C:\Users\samtg\AppData\Local\Temp\ipykernel_33408\1231765473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  org_all['cleaned_name'] = org_all['NAME'].apply(lambda x: get_closest_match(x, org_key))

In [100]:
org_all_dup['cleaned_name'] = org_all_dup['NAME'].apply(lambda x: get_closest_match(x, org_key))

C:\Users\samtg\AppData\Local\Temp\ipykernel_33408\91698921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  org_all_dup['cleaned_name'] = org_all_dup['NAME'].apply(lambda x: get_closest_match(x, org_key))

In [48]:
factions = pd.read_csv('../data/faction_compare.csv')

In [155]:
def find_best_match(name, choices, scorer=fuzz.WRatio, score_cutoff=90):
    best_match = process.extractOne(name, choices, scorer=scorer, score_cutoff=score_cutoff)
    return best_match[0] if best_match else None

In [54]:
factions.columns

Index(['VotePersonName', 'faction', 'rf_predictions', 'knn_predictions',
       'rf_pca_predictions'],
      dtype='object')

In [156]:
org_all['Matched_Name'] = org_all['RECIPNAME'].apply(lambda x: find_best_match(x, factions['VotePersonName'].tolist()))

In [101]:
org_all_dup['Matched_Name'] = org_all_dup['RECIPNAME'].apply(lambda x: find_best_match(x, factions['VotePersonName'].tolist()))

C:\Users\samtg\AppData\Local\Temp\ipykernel_33408\112574115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  org_all_dup['Matched_Name'] = org_all_dup['RECIPNAME'].apply(lambda x: find_best_match(x, factions['VotePersonName'].tolist()))

In [144]:
org_all = org_all.merge(factions, left_on='Matched_Name', right_on='VotePersonName', how='left')

In [102]:
org_all_dup = org_all_dup.merge(factions, left_on='Matched_Name', right_on='VotePersonName', how='left')

In [145]:
# Make a new col "winner" that is 0 if Matched_Name is None, else it is 1
org_all['winner'] = org_all['Matched_Name'].notnull().astype(int)

In [103]:
org_all_dup['winner'] = org_all_dup['Matched_Name'].notnull().astype(int)

In [146]:
winners = org_all[org_all['winner'] == 1]

In [72]:
winners = winners[['DATE','cleaned_name', 'AMNT', 'SCHEDULE', 'REFNO', 'C_CODE', 'PURPOSECD',
 'Matched_Name',  'faction',
       'rf_predictions', 'knn_predictions', 'rf_pca_predictions', 'winner']]

In [79]:
winners.head(5)

,DATE,cleaned_name,AMNT,SCHEDULE,REFNO,C_CODE,PURPOSECD,Matched_Name,faction,rf_predictions,knn_predictions,rf_pca_predictions,winner
1,6/21/2021,1199 SEIU,1000.0,ABC,R0003231,PCOMP,NaN,Lynn C. Schulman,Affluent Liberals,Affluent Liberals,Affluent Liberals,Affluent Liberals,1
2,4/26/2021,1199 SEIU,1000.0,ABC,R0004887,PCOMP,NaN,Mercedes Narcisse,NaN,Affluent Liberals,Affluent Liberals,Affluent Liberals,1
3,10/6/2021,1199 SEIU,1000.0,ABC,R0006445,PCOMP,NaN,Kamillah Hanks,NaN,Affluent Liberals,Affluent Liberals,Hybrid Progressives,1
6,5/30/2023,1199 SEIU,1000.0,ABC,R0002682,PCOMP,NaN,Charles Barron,NaN,DSA,Alphabet Left,Hybrid Progressives,1
7,11/1/2021,1199 SEIU,1000.0,ABC,R0008554,PCOMP,NaN,Shahana K. Hanif,Alphabet Left,Alphabet Left,Alphabet Left,Alphabet Left,1

In [147]:
brkdwn = winners.groupby(['cleaned_name', 'rf_pca_predictions'])['AMNT'].sum().reset_index()

In [158]:
brkdwn_ind = winners.groupby(['cleaned_name', 'Matched_Name'])['AMNT'].sum().reset_index()

In [159]:
print(brkdwn_ind)

                      cleaned_name              Matched_Name    AMNT
0                        1199 SEIU         Adrienne E. Adams  1000.0
1                        1199 SEIU              Alexa Avilés  1000.0
2                        1199 SEIU        Althea V.  Stevens  1000.0
3                        1199 SEIU             Amanda Farías  1000.0
4                        1199 SEIU                 Ari Kagan  1000.0
..                             ...                       ...     ...
691  United Federation of Teachers       Pierina Ana Sanchez  1000.0
692  United Federation of Teachers     Rafael Salamanca, Jr.  3850.0
693  United Federation of Teachers          Robert F. Holden  1250.0
694  United Federation of Teachers  Selvena N. Brooks-Powers  1000.0
695  United Federation of Teachers             Tiffany Cabán  1000.0

[696 rows x 3 columns]

In [150]:
df = brkdwn.copy()
top_rf_pca_for_names = df.sort_values(by='AMNT', ascending=False).drop_duplicates(['cleaned_name'])
top_name_for_rf_pca = df.sort_values(by='AMNT', ascending=False).drop_duplicates(['rf_pca_predictions'])

In [151]:
by_member = brkdwn_ind.sort_values(by='AMNT', ascending=False).drop_duplicates(['Matched_Name'])

In [154]:
print(by_member)

                       cleaned_name               Matched_Name      AMNT
65               ACEC New York City                Chi A. Ossé  61204.00
96                AFSCME-Local 1407          Francisco P. Moya   7416.33
81               ACEC New York City      Rafael Salamanca, Jr.   5700.00
112         Alan Maisel for Council              Kalman Yeger    5700.00
73               ACEC New York City              Keith Powers    4850.00
343            Doctors Council SEIU            Carlina Rivera    2850.00
97                AFSCME-Local 1407           James F. Gennaro   2500.00
61               ACEC New York City         Althea V.  Stevens   2250.00
403       Friends of Ralph Perfetto                  Linda Lee   2000.00
558  New York State Nurses Associat          Justin L. Brannan   2000.00
535         New York State Laborers           Erik D. Bottcher   2000.00
676   United Federation of Teachers             Diana I. Ayala   2000.00
79               ACEC New York City          Mercedes Narcisse   2000.00
685   United Federation of Teachers             Kevin C. Riley   2000.00
108               AFSCME-Local 1407   Selvena N. Brooks-Powers   2000.00
151                        BRAB PAC              Eric Dinowitz   2000.00
425                   Keith For NYC             Kamillah Hanks   1500.00
57             A Print Solution LLC           Robert F. Holden   1500.00
59               ACEC New York City          Adrienne E. Adams   1500.00
106               AFSCME-Local 1407             Rita C. Joseph   1500.00
323                         D&M PAC          Joseph C. Borelli   1500.00
78               ACEC New York City         Marjorie Velázquez   1500.00
404       Friends of Ralph Perfetto           Lynn C. Schulman   1400.00
86               ACEC New York City            Shekar Krishnan   1250.00
163                        BRAB PAC                 Sandra Ung   1250.00
397       Friends of Ralph Perfetto                  Ari Kagan   1000.00
399       Friends of Ralph Perfetto              Inna Vernikov   1000.00
408       Friends of Ralph Perfetto                Shaun Abreu   1000.00
451  Mason Tenders District Council              Amanda Farías   1000.00
442                       Local 983             Gale A. Brewer   1000.00
430                   Keith For NYC               Oswald Feliz   1000.00
422                   Keith For NYC                Julie Menin   1000.00
421                   Keith For NYC         Jennifer Gutiérrez   1000.00
360            Doctors Council SEIU       Nantasha M. Williams   1000.00
340            Doctors Council SEIU               Alexa Avilés   1000.00
308              Cozen O'Connor PAC              Joann Ariola    1000.00
304              Cozen O'Connor PAC              David M. Carr   1000.00
297   Council of School Supervisors              Tiffany Cabán   1000.00
294   Council of School Supervisors           Shahana K. Hanif   1000.00
290   Council of School Supervisors        Pierina Ana Sanchez   1000.00
344            Doctors Council SEIU             Charles Barron   1000.00
345            Doctors Council SEIU             Crystal Hudson   1000.00
639   Transport Workers Union Local       Carmen N. De La Rosa   1000.00
579                         PSC PAC                Sandy Nurse   1000.00
280   Council of School Supervisors                  Julie Won   1000.00
131            Althea & Friends TIE             Farah N. Louis    500.00
533         New York State Laborers              Darlene Mealy    500.00
629   Tile, Marble, & Terrazo Local            Lincoln Restler    250.00
330          Dianne Morales for NYC  Kristin Richardson Jordan      0.00

In [162]:
print("Table 1: Top rf_pca_predictions by amount for every cleaned_name")
top_rf_pca_for_names

Table 1: Top rf_pca_predictions by amount for every cleaned_name

                       cleaned_name       rf_pca_predictions      AMNT
20               ACEC New York City            Alphabet Left  62625.58
0                         1199 SEIU        Affluent Liberals  19000.00
220   United Federation of Teachers        Affluent Liberals  18600.00
115            Doctors Council SEIU        Affluent Liberals  16850.00
213   Transport Workers Union Local        Affluent Liberals  16425.00
..                              ...                      ...       ...
183  New Yorkers Putting Students F      Hybrid Progressives    500.00
31             AIA New York Chapter      Hybrid Progressives    225.00
42                  Alphajor Barrie        Affluent Liberals      2.00
37    Allied Printing Trades Counci  Old and New Republicans      0.00
110          Dianne Morales for NYC      Hybrid Progressives      0.00

[65 rows x 3 columns]

In [161]:
print("\nTable 2: Top cleaned_name for every rf_pca_predictions")
print(top_name_for_rf_pca)

Table 2: Top cleaned_name for every rf_pca_predictions
                  cleaned_name        rf_pca_predictions      AMNT
20          ACEC New York City             Alphabet Left  62625.58
19          ACEC New York City         Affluent Liberals  20511.58
29           AFSCME-Local 1407       Hybrid Progressives  11666.33
131  Friends of Ralph Perfetto   Old and New Republicans   5960.00
3                    1199 SEIU                       DSA   2000.00
21          ACEC New York City  County Aligned Moderates   1500.00

In [96]:
orgs_short = org_all[['DATE','cleaned_name', 'AMNT', 'SCHEDULE', 'C_CODE', 'REFNO',
 'Matched_Name',  'faction',
       'rf_predictions', 'knn_predictions', 'rf_pca_predictions', 'winner']]

In [119]:
org_all[org_all['cleaned_name'] == 'Dianne Morales for NYC']

,RECIPNAME,DATE,BOROUGHCD,CITY,STATE,ZIP,OCCUPATION,EMPNAME,NAME,AMNT,...,C_CODE,PURPOSECD,cleaned_name,Matched_Name,VotePersonName,faction,rf_predictions,knn_predictions,rf_pca_predictions,winner
223,"Jordan, Kristin R",4/21/2021,M,New York,NY,10101,NaN,NaN,Dianne Morales for NYC,-100.0,...,PCOMC,NaN,Dianne Morales for NYC,Kristin Richardson Jordan,Kristin Richardson Jordan,NaN,Hybrid Progressives,Affluent Liberals,Hybrid Progressives,1

In [126]:
org_all_dup[org_all_dup['cleaned_name'] == 'Dianne Morales for NYC'][['RECIPNAME','NAME','DATE','AMNT','REFNO','winner']]

,RECIPNAME,NAME,DATE,AMNT,REFNO,winner
254,"Moya, Francisco P",Coliemore Inc,4/16/2019,500.0,R0002915,1
255,"Moya, Francisco P",Coliemore Inc,4/16/2019,-500.0,R0004095,1
448,"Jordan, Kristin R",Dianne Morales for NYC,4/21/2021,100.0,R0007897,1
449,"Jordan, Kristin R",Dianne Morales for NYC,4/21/2021,-100.0,R0007899,1
1271,"Onuorah, George",Silver Spoon Diner,4/22/2021,20.0,R0001676,0
1272,"Onuorah, George",Silver Spoon Diner,4/22/2021,-20.0,R0001677,0

In [108]:
test = org_all_dup.drop_duplicates(subset=['REFNO'], keep='first')

In [109]:
test[test['cleaned_name'] == 'Dianne Morales for NYC'][['RECIPNAME','DATE','AMNT','REFNO','winner']]

              RECIPNAME       DATE   AMNT     REFNO  winner
254   Moya, Francisco P  4/16/2019  500.0  R0002915       1
255   Moya, Francisco P  4/16/2019 -500.0  R0004095       1
448   Jordan, Kristin R  4/21/2021  100.0  R0007897       1
449   Jordan, Kristin R  4/21/2021 -100.0  R0007899       1
1271    Onuorah, George  4/22/2021   20.0  R0001676       0
1272    Onuorah, George  4/22/2021  -20.0  R0001677       0

In [134]:
all_dup[all_dup['NAME'] == 'Dianne Morales for NYC']

,RECIPNAME,DATE,BOROUGHCD,CITY,STATE,ZIP,OCCUPATION,EMPNAME,NAME,AMNT,SCHEDULE,REFNO,C_CODE,PURPOSECD
38891,"Jordan, Kristin R",4/21/2021,M,New York,NY,10101,NaN,NaN,Dianne Morales for NYC,100.0,ABC,R0007897,PCOMC,NaN
38892,"Jordan, Kristin R",4/21/2021,M,New York,NY,10101,NaN,NaN,Dianne Morales for NYC,-100.0,M,R0007899,PCOMC,NaN

In [132]:
all_dup_test = all_dup.drop_duplicates(subset=['REFNO'], keep='first')

In [136]:
all_dup[all_dup['REFNO'] == 'R0007897']

,RECIPNAME,DATE,BOROUGHCD,CITY,STATE,ZIP,OCCUPATION,EMPNAME,NAME,AMNT,SCHEDULE,REFNO,C_CODE,PURPOSECD
22405,"Menin, Julie",1/4/2021,M,New York,NY,10021-141,Chief Operating Officer,Calcium,"Capano Michaelson, Judy",25.0,ABC,R0007897,IND,NaN
38891,"Jordan, Kristin R",4/21/2021,M,New York,NY,10101,NaN,NaN,Dianne Morales for NYC,100.0,ABC,R0007897,PCOMC,NaN
123906,"Caban, Tiffany",4/14/2021,Z,Canton,MA,02021,Not Employed,Not Employed,"Reyes-Morales, Rocio",100.0,ABC,R0007897,IND,NaN

In [133]:
all_dup_test['REFNO'].head(10)

0    R0001664
1    R0000080
2    R0002295
3    R0000171
4    R0001588
5    R0001593
6    R0003188
7    R0004231
8    R0002881
9    R0003231
Name: REFNO, dtype: object

Alternative goecode methods

In [1]:
import ethnicolr2

In [11]:
from ethnicolr2 import pred_fl_last_name,pred_fl_full_name

In [21]:
from clean_names import clean_name

ModuleNotFoundError: No module named 'clean_names'

In [ ]:
def do_clean_name(n):
    n = str(n)
    return clean_name(n)

#sdf['clean_name'] = sdf['contributor_name'].apply(lambda c: do_clean_name(c))
#sdf

In [22]:
cand_surgeo = pd.read_csv('../data/cleaned/candidates_surgeo.csv')

C:\Users\samtg\AppData\Local\Temp\ipykernel_20360\680929873.py:1: DtypeWarning: Columns (12,21,33,37,38,40,41,42,43,44,45,46,51,54) have mixed types. Specify dtype option on import or set low_memory=False.
  cand_surgeo = pd.read_csv('../data/cleaned/candidates_surgeo.csv')

In [15]:
cand_surgeo[['last_name','first_name']].head(2)

  last_name first_name
0    abiona       lara
1    abrams   benjamin

In [26]:
# convert to lower case
cand_surgeo['first_name'] = cand_surgeo['first_name'].str.lower()
cand_surgeo['last_name'] = cand_surgeo['last_name'].str.lower()

In [27]:
# convert to string
cand_surgeo['first_name'] = cand_surgeo['first_name'].astype(str)
cand_surgeo['last_name'] = cand_surgeo['last_name'].astype(str)

In [19]:
# dropn nan from first or last name
cand_surgeo = cand_surgeo.dropna(subset=['first_name','last_name'])

In [ ]:
pred_fl_full_name(cand_surgeo, lname_col = "last_name",fname_col = "first_name")

In [24]:
from ethnicolr import census_ln, pred_census_ln,pred_fl_reg_name, pred_fl_reg_ln

In [29]:
test = pred_fl_reg_ln(cand_surgeo, 'last_name')

c:\Users\samtg\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\embedding.py:81: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

TypeError: Error when deserializing class 'Embedding' using config={'name': 'embedding', 'trainable': True, 'dtype': 'float32', 'input_dim': 1152, 'output_dim': 32, 'embeddings_initializer': {'class_name': 'RandomUniform', 'config': {'minval': -0.05, 'maxval': 0.05, 'seed': None}}, 'embeddings_regularizer': None, 'activity_regularizer': None, 'embeddings_constraint': None, 'mask_zero': False, 'input_length': 20, 'input_shape': [None, 20]}.

Exception encountered: Unrecognized keyword arguments passed to Embedding: {'input_length': 20}

mayor

In [4]:
mayor = pd.read_csv('../data/mayor/mayor_finance.csv')

C:\Users\samtg\AppData\Local\Temp\ipykernel_25948\953709319.py:1: DtypeWarning: Columns (39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  mayor = pd.read_csv('../data/mayor/mayor_finance.csv')

In [5]:
mayor_df = mayor[[ 'RECIPNAME',  'DATE', 'BOROUGHCD', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'NAME', 'AMNT','SCHEDULE','REFNO','C_CODE','PURPOSECD']]
mayor_df = mayor_df.drop_duplicates(subset=['REFNO','NAME','DATE'], keep='first')

In [10]:
org_key = ['1199 SEIU', '504 Democratic Club',
       '798 Habitat Inc, Liu', 'ACEC New York City PAC','AIA New York Political Action',
       'Allied Printing Trades Council', 'American Federation of State',
       'ATU New York Cope Fund', 'Bagels & More',
       'Bricklayers & Allied Craftwork', 'Building and Construction Trad',
       'Building for New York PAC',
       'Cement & Concrete Workers',
       'Cement Masons Union 780', 'Chase Bank', 'Christian Caliboso',
       'Citibank - Deposit Services Fe', 'Cmte to Re-Elect Nydia Velazqu',
       'conservative party bronx', 'Council of School Supervisors',
       "Cozen O'Connor",  'CWA Local 1180','D&M PAC', 'D.E.A C.O.P.E Fund',
       'District Council 37', 'Doctors Council SEIU COPE',
       'DR MUZIBUL HUQ FOR CONGRESS', 'DRIVE Committee', 'EISPAC',
       "EMILY's List-NF Fund", 'Federal Express NYS PAC',
       'Food Industry Political Action', 'Frederick Douglass Democratic',
       'Friends of Adriana', 'Friends of James Vacca',
       'Friends of Steve Cohen', 'Gabriela bunea',
       'Great Public Schools PAC',
       'Greater New York Automobile De', 'Greenberg Traurig P.A.','Hanys PAC',
       'HF Responsibility Fund', 'Higher Heights for America PAC',
       'HTC Non Federal Cope', 'IAHFIAW Local Union No. 12','IBEW New York PAC',
       'IBT Joint Council No. 16 PAC', 'International Longshoremens As',
       'International Union of Operati', 'Intl Union of Elevator Constru',
       'Ironworkers Political Action L', 'IUOE LOCAL 14-14B VPAC',
       'IUOE Local 15', 'Jim Owles Liberal Democratic C',
       'JPMorgan Chase & Co. PAC', 'Katzenberg Family Trust',
       'Keith For NYC', 'Kenneth j. esq.', 'L-PAC',
       'Lew Fidler for New York', 'Linda Rosenthal for Assembly',
       'Local 372 AFSCME Political Fun', 'Local 508 District Council 37',
       'Local 6 Com. on Political Edu.', 'Local 6 Committee On Political',
       'LOCAL 813 I.B.T.', 'Local 813 IBT', 'Local 891, IUOE State EPEC',
       'LOCAL 924 FOR NEW YORK CITY', 'Madison Square Garden NY PAC',
       'Mason Tenders District Council', 'McGinn for Staten Island',
       'MSG PAC', 'New york City Electronic Data',
       'New York City Local 246 (SEIU', 'New york Hotel Trade Council C',
       'New York State Laborers PAC',
       'New Yorkers for Putting Studen', 'Nightingale Corp',
       'Noble For City Council', 
       'NY 10-13 Association', 'NY UAW Region 9A PAC Council',
       'NYC District Council of Carpen', 'NYC Property Tax Fairness PAC',
       'Oilheat PAC', 'Organization of Staff Analysts',
       'Partnership for New York City', 'People for Diaz',
       'Pepitone for NYC', 'Plumbers Local Union #1 NYC','police Benevolent Association',
       'Public Empolyees Federation', 'Quant Technologies LLC',
       'Ranco LLC', 'Resilience PAC', 'Retail Wholesale and Departmen',
       'Retail Wholesale&D.Store Union', 'RPAC of New York State',
       'RUGFRIT 1350 LLC', 'SANITATION OFFICERS ASSOCIATIO',
       'Save Democracy PAC', 'Service Employees Internationa',
       'Sheet Metal Workers Union Loca', 'SK2 Holdings LLC',
       'Smart Local 28 Political Actio', 'Smart Local Union No. 28',
       'SMF POLITICAL ACTION COMMITTEE', 'SmithieForMayor',
       'Social Service Employees Union', 'Space Bushwick',
       'Speaker Heastie PAC', 'SSL', 
       'Steamfitters Local 638 PAC', 'Steve cohen', 'StreetsPAC',
       'TAKE BACK NYC', 'Taxpayers for an Affordable Ne', 'Taxpayers for an Affordable NY',
       'Teamsters Local Union 282', 'Tempo 802',
       'The Captin Endowment Associati', 'Theatrical Teamsters Local 817',
       'Tile Marble & Terrazzo', 'TPU local 1 IATSE Stagehands',
       'Transport Workers Union Local', 'Tribute Restoraton Inc',
       'UFOA 527', 'Uniformed EMS Officers 3621',
       'Uniformed EMS Officers Union F', 'Uniformed EMTS, Paramedics',
       'Uniformed Fire Officers',
       'Uniformed Firefighters Associa', 'Uniformed Sanitation Chiefs',
       "Uniformed Sanitationmen's Ass'", 
       'Union Local 262', 'United Cement Masons Union Loc',
       'United Federation of Teachers', 'United Probation Officers Asso',
       'WM NY PAC']

In [7]:
org_codes = ['PCOMP','EMPO','PCOMC','CORP',"PCOMZ",'LLC','OTHR']
mayor_org = mayor_df[mayor_df['C_CODE'].isin(org_codes)]

In [11]:
mayor_org['cleaned_name'] = mayor_org['NAME'].apply(lambda x: get_closest_match(x, org_key))

C:\Users\samtg\AppData\Local\Temp\ipykernel_25948\907291246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayor_org['cleaned_name'] = mayor_org['NAME'].apply(lambda x: get_closest_match(x, org_key))

alternate ethnicity coding

In [17]:
import pyethnicity

In [28]:
pyethnicity.bifsg('Sam', 'Goodson', '11225', geo_type="zcta")

  first_name last_name   zcta     asian     black  hispanic     white
0        Sam   Goodson  11225  0.006307  0.794639  0.004088  0.194967

In [14]:
cand_geo

,recipname,date,first_name,last_name,city,state,zip,occupation,empname,amnt,white,black,api,native,multiple,hispanic,refno
0,"Abreu, Adolfo",10/1/2020,Lara,Abiona,Cherry Hill,NJ,08003,Student,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0001855
1,"Abreu, Adolfo",1/11/2021,Benjamin,Abrams,Brooklyn,NY,11226,Unemployed,NaN,10.0,0.106055,0.843409,0.001083,0.00172,0.02252,0.025213,R0003932
2,"Abreu, Adolfo",8/12/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,850.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000076
3,"Abreu, Adolfo",8/10/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,100.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000086
4,"Abreu, Adolfo",8/13/2020,Adolfo,Abreu,The Bronx,NY,10468,Organizing Director,Northwest Bronx Community and,50.0,0.000060,0.000075,0.000037,0.00000,0.00000,0.999829,R0000119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16630,"Lin, Yu",2/15/2021,YI BO,ZHU,Brooklyn,NY,11220,RETIRED,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,R0001329
16631,"Lin, Yu",1/16/2021,Yunying,Zhu,Brooklyn,NY,11220,Unemployed,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000825
16632,"Lin, Yu",1/9/2021,Xi,Ziang,Brooklyn,NY,11220,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000327
16633,"Lin, Yu",1/11/2021,Chang Li,Zou,Brooklyn,NY,11219,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000398
16634,"Lin, Yu",1/11/2021,Xue Qun,zou,Brooklyn,NY,11219,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,R0000400